@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Test[]>
@using nancySh
<html>
<head>
    <title>Portraits</title>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css"/>
</head>
<body>

<div class="header col-xs-12">
    <h1><a href="/">Hello!</a></h1>
</div>

@Html.PostButton("/new", "New item")

<div class="col-lg-4">
    <table class="table">
    @foreach (var t in Model) {
        <tr>
            <td>
                @t.Id.ToString()
            </td>
            <td>
                <form id="form@t.Id" method="post" action="/update">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="Id" value="@t.Id"/>
                    <input type="hidden" name="Version" value="@t.Version"/>
                    <input type="text" name="Val" value="@t.Val"/>
                    <input type="submit" value="Edit"/>
                </form>
            </td>
            <td>
                @Html.PostButton(string.Format("/delete/{0}/{1}", t.Id, t.Version), "Delete")
            </td>
        </tr>
    }
    </table>
</div>

<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>